* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background-color: black;
  color: black;
}

/* Main Card */
.container {
  width: 420px;
  margin: 80px auto;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 60px rgba(255, 100, 0, 0.5);
}

/* Top Heading Section */
.heading {
  background: linear-gradient(90deg, #e56b6f, #ff3d00);

  text-align: center;
  padding: 30px;
  color: white;
}

.heading h2 {
  margin-bottom: 15px;
  font-size: 28px;
}

.heading p {
  font-size: 16px;
}

/* Middle Content */
.content {
  background-color: #ffe1c8;
  padding: 35px 25px;
}

.des {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Text */
.para {
  color: black;
  font-size: 18px;
}

.para p {
  margin-bottom: 18px;
}

.para strong {
  color: black;
}

/* Image */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img .coffee {
  width: 110px;
  height: 110px;
  border-radius: 25px;
  object-fit: cover;

  box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.3);
}

/* Footer */
.footer {
  background-color: #ffd4bd;
  padding: 20px;
  text-align: center;
}

.footer p {
  color: #333;
  font-size: 15px;
}

/* * {
  font-family: sans-serif;
}
body {
  background-color: black;
  color: white;
}
.container {
  border: 2px solid green;
  width: 350px;
  border-radius: 13px;
  padding: 40px;
  margin: 60px auto;
  border: none;
  background-color: rgb(80, 79, 79);
}
.heading {
  background-color: rgb(151, 224, 227);
  color: brown;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}

.des {
  display: flex;
}
.img {
  display: flex;
}

.img .coffee {
  width: 100px;
  height: 100px;
  box-shadow: 10px 20px 40px rgb(143, 119, 119);
  border-radius: 30px;
  display: flex;
  justify-content: end;
} */
